# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Hovercabs.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Dani\Documents\Games\Hovercabs\Hovercabs\.idea\.idea.Hovercabs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
